#gameContainer{
  text-align: center;
}
#gameBoard{
  border: 3px solid;
}
#scoreText{
  font-family:Impact, 'Arial Narrow Bold';
  font-size: 85px;
}
#resetBtn{
  font-family:Impact, 'Arial Narrow Bold';
  font-size: 20px;
  border: 2px solid;
  padding: 12px 20px;
  border-radius: 14px;
  cursor: pointer;
}